# fly.toml app configuration file generated for te-entrego-8-empty-wind-4404 on 2025-10-16T23:45:56-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'te-entrego-8-empty-wind-4404'
primary_region = 'gru'

[build]

[env]
  PORT = '3000'
  SCOPES = 'read_orders'
  SHOPIFY_API_KEY = '03cea36f442a95039a3170e210c8d3f8'
  SHOPIFY_APP_URL = 'https://te-entrego-8-white-haze-1163.fly.dev'

[processes]
  app = 'node ./dbsetup.js npm run docker-start'

[[mounts]]
  source = 'data'
  destination = '/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
